<div data-ng-controller="PagesController">
<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1>Página</h1>
			</div>
		</div>
	</div>

	<div class="row">
	<div class="col-md-12">

		<a href="" data-toggle="modal" data-target="#myModal" class="new-btn">CADASTRAR Página</a>


		<div class="panel panel-default margin-panel">
			<!-- Default panel contents -->
			<div class="panel-heading">Páginas do sistema</div>

			<!-- Table -->
			<table class="table">
				<thead>
					<tr>

						<th>Título</th>
            <th>Slug</th>
						<th>Ações</th>
					</tr>
				</thead>

				<tbody>
            <tr class="news-list" data-ng-repeat="page in pages">

                <td><input type="text" data-ng-model="page.title"></td>
                <td><input type="text" data-ng-model="page.slug"></td>

              <td><ul>

                        <li title="Editar" data-ng-click="editPage(page) ; $event.preventDefault(); $event.stopPropagation()" rel="tooltip" class="inline icon edit_member_link ">
                            <a href="" >
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span style="display:none">Atualizar</span>
                            </a>
                        </li>
                        <li title="Remover" rel="tooltip" class="inline icon delete_member_link ">
                            <a class="" data-ng-click="removePage(page)">
                                <i class="glyphicon glyphicon-remove"></i>
                                <span style="display:none">Remover</span>
                            </a>
                        </li>
                </ul></td>
            </tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nova Página</h4>
        </div>
        <div class="modal-body">
          <div>
            <lavel>Nome</lavel>
          <input type="text" data-ng-model="newPage.title">
          </div>
          <div>
            <lavel>Slug:</lavel>
            <input type="text" data-ng-model="newPage.slug">
          </div>
          <div>
            <label>Conteúdo:</label>
            <textarea type="text" data-ng-model="newPage.body"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-ng-click="createPage()">Savar</button>
        </div>
      </div>
    </div>
  </div>

</div>