<div class="page-header">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Home</h1>
    </div>
  </div>
</div>


<!-- Stats -->


<!-- Atalhos -->
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default shortcuts">

      <div class="panel-heading">Acesso Rápido</div>
      <div class="panel-body">

        <a href="/pages/new" class="shortcut" title="Cadastrar Página">
          <i class="glyphicon glyphicon-user"></i>
          <span class="shortcut-label">Cadastrar Página</span>
        </a>

      </div>
    </div>
  </div>
</div>