
       <%= form_for(@page, :html => {:class => 'form-horizontal padding-form', :multipart => true}) do |f| %>
			<br>
			<fieldset>

              <div class="control-group">
                <label class="control-label" for="title">Nome</label>
                <div class="controls">
                  <%= f.text_field :title, class: 'form-control input-md', placeholder: 'Título da Página' %>

                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="title">Descrição</label>
                <div class="controls">
                  <%= f.text_field :description, class: 'form-control input-md', placeholder: 'Descrição da Página' %>

                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="title">Link</label>
                <div class="controls">
                <%= f.text_field :slug, class: 'form-control input-md', placeholder: 'Slug da Página' %>

                </div>
              </div>

            <div class="control-group">
                <label for="cel" class="control-label">Ativar:</label>
                <div class="controls">
                  <%= f.check_box(:active) %>
                </div>
             </div>

              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="resume">Posição</label>
                <div class="controls">
                  <%= f.select(:position,  options_for_select(Page.avalaible_positions), class: 'form-control input-sm') %>

                </div>
              </div>

              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="title">Conteúdo</label>
                <div class="controls">
                  <%= f.cktext_area :body, :as => :ckeditor, class: 'ckeditor' %>
                </div>
              </div>

              <div class="col-md-12" style="margin-top:10px;position:relative; right:10px;">
				        <button class="btn btn-primary btn-function">Cadastrar</button>
              </div>

			</fieldset>
	   <% end %>