	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1>Página</h1>
			</div>
		</div>
	</div>

	<div class="row">
	<div class="col-md-12">

		<a href="/pages/new" class="new-btn">CADASTRAR Página</a>


		<div class="panel panel-default margin-panel">
			<!-- Default panel contents -->
			<div class="panel-heading">Páginas do sistema</div>

			<!-- Table -->
			<table class="table">
				<thead>
					<tr>

						<th>Título</th>
            <th>Slug</th>
						<th>Ações</th>
					</tr>
				</thead>

				<tbody>
                    <% @pages.each{ |page| %>
                        <tr class="news-list">

                            <td><%= page.title %></td>
                            <td><%= page.slug %></td>

                          <td><ul>

                                    <li title="Editar" rel="tooltip" class="inline icon edit_member_link ">
                                        <a class="" href="<%= edit_page_path(id: page.id) %>">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                            <span style="display:none">Editar</span>
                                        </a>
                                    </li>
                                    <li title="Remover" rel="tooltip" class="inline icon delete_member_link ">
                                        <a class="pjax" href="<%= page_path(id: page.id) %>" data-method="delete" data-confirm="Tem certeza?">
                                            <i class="glyphicon glyphicon-remove"></i>
                                            <span style="display:none">Remover</span>
                                        </a>
                                    </li>
                            </ul></td>
                        </tr>
                    <% } %>
				</tbody>
			</table>
            <%= paginate @pages %>
		</div>
		</div>
	</div>
