<div class="wrapper">
<div id="content" class="content-news" role="main">
<article>

<!-- Recent News ______________________________________-->
<div id="recent-news">
  <h2 style="border-bottom: 1px dotted #b2b2b2;">Notícias</h2>
  <%= paginate @news %>
  <div class="carousel-vert-no">
    <ul>
      <% @news.each{ |news| %>
          <li>
            <article class="recent-blog">
              <section class="date">
                <span class="day"><%= news.created_at.day %></span>
                <span class="month"><%= I18n.t("date.abbr_month_names")[news.created_at.month] %></span>
              </section>
              <figure>
                <a href="<%= news_path(id: news.id) %>"><img src="<%= news.main_image.url(:thumb) %>" alt="" /></a>
              </figure>
              <h3><a href="<%= news_path(id: news.id) %>"><%= truncate(news.title, length: 80) %></a></h3>
            </article>
          </li>
      <% } %>

    </ul>
  </div>
  <%= paginate @news %>
</div> <!-- END #recent-news -->
	
</article>
</div>
</div>