<div class="page-header">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Página</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <%= link_to "VOLTAR", :back, class: "new-btn" %>



    <div class="panel panel-default margin-panel">
      <!-- Default panel contents -->
      <div class="panel-heading">Nova Página</div>

      <div class="row">
        <%= render 'form' %>
      </div>

    </div>

  </div>
</div>