<div class="wrapper">
<div id="content" class="content-news" role="main">
<article id="post-1" class="post">

	<header class="entry-header">
		<!-- Post Image ______________________________________-->
		<div class="post-image">
					
		</div>	
	</header> <!-- END .entry-header -->

	<div class="entry-content">
		<!-- Heading ______________________________________-->

		<%= @page.content.html_safe %>


	</div><!-- END .entry-content -->
	<div class="clear"></div>
	
</article>



</div>
</div>