<!DOCTYPE html>
<html>
<head>
  <title>Ignition</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/admin" class="navbar-brand" title="GoldGroup">Ignition</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="javascript://" title="Olá, Luis">Olá, Ignition</a>
      </li>
      <li>
      </li>
    </ul>
  </div>
</header>
<aside class="sidebar col-md-2">
  <nav id="sidebar-menu" role="complementary">
    <ul>
      <li class="active">
        <a href="/pages" title="Home"><i class="glyphicon glyphicon-home"></i><span>Páginas</span></a>
      </li>

    </ul>
  </nav>
</aside>

<div class="content col-md-10">
  <%= bootstrap_flash %>
  <%= yield %>
</div>



<%= javascript_include_tag "application", "data-turbolinks-eval" => false %>
</body>
</html>
